body, html {
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif !important;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

body > header {
    width: 100%;
}

body > main {
    margin: 0 auto;
    width: 65%;
}

footer > section {
    width: 65%;
    margin: 0 auto;
}

.analysis-card {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    padding: 15px 25px;
    height: 320px;
}

.analysis-card:first-of-type {
    margin-left: 0;
}

.analysis-card:last-of-type {
    margin-right: 0;
}


.analysis-card-author {
    margin: 20px 0 0;
    text-align: center;
    font-size: 0.9em;
    color: #4267B2;
}
.analysis-card-author:hover {
    text-decoration: underline;
}

.analysis-card-description {
    text-align: center;
    font-size: 1.2em;
}

.analysis-card-profile {
    display: block;
    margin: 8px auto;
    border-radius: 50%;
}

.around-article {
    flex-basis: 30%;

    margin: auto 15px;
    height: 340px;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-position: center;
}

.around-article:first-of-type {
    margin-left: 0;
}

.around-article:last-of-type {
    margin-right: 0;
}

.around-article > h3 {
    position: relative;
    top: 192px;

    box-sizing: border-box;
    height: 130px;
    padding: 20px;
    background-color: white;
}

.article-card {
    border: 4px solid #EAEAEA;
    box-shadow: 0 0 10px #EAEAEA;
    background-color: white;
}

.article-tag {
    border: none;
    border-radius: 5px;

    padding: 4px 6px;
    color: white;
}

.article-tag-blue {
    background-color: blue;
}

.article-tag-cyan {
    background-color: cyan;
}

.article-tag-green {
    background-color: green;
}

.article-tag-magenta {
    background-color: magenta;
}

.article-tag-red {
    background-color: red;
}

.article-tag-yellow {
    background-color: yellow;
    color: black !important;
}

.button-load-more {
    display: block;
    margin: 0 auto;
    border: 1px solid #4267B2;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1.1em;
    color: #4267B2;
}

.button-load-more:hover {
    background-color: #4267B2;
    color: white;
}

.climate-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.climate-article:first-of-type {
    margin-left: 0;
}

.climate-article:last-of-type {
    margin-right: 0;
}

.climate-article-image {
    width: 100%;
    height: 45%;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-position: center;
}

.climate-article-category {
    color: darkblue;
}

.climate-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.climate-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.climate-article-description {
    font-size: 1.2em;
}

.climate-articles-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

.climate-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.climate-article-tags > * {
    margin: 0 5px;
}

.election-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.election-article:first-of-type {
    margin-left: 0;
}

.election-article:last-of-type {
    margin-right: 0;
}

.election-article-image {
    width: 100%;
    height: 45%;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-position: center;
}

.election-article-category {
    color: darkblue;
}

.election-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.election-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.election-article-description {
    font-size: 1.2em;
}

.election-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.election-article-tags > * {
    margin: 0 5px;
}

.fake-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fake-link::selection {
    background-color: transparent;
}

.feature-article {
    flex-basis: 30%;

    margin: auto 15px;
    height: 340px;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-position: center;
}

.feature-article:first-of-type {
    margin-left: 0;
}

.feature-article:last-of-type {
    margin-right: 0;
}

.feature-article > p {
    position: relative;
    top: 191px;

    box-sizing: border-box;
    height: 130px;
    padding: 30px;
    background-color: white;
    text-align: center;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.internal-link-list-item {
    margin: 20px 0;
    font-size: 1.1em;
}

.internal-link-list-item:hover {
    text-decoration: underline;
}

.internal-link-list {
    padding: 0;
    list-style-type: none;
}

.legal-item:hover {
    text-decoration: underline;
}

.main-section-heading {
    text-transform: uppercase;
}

.most-read-article {
    display: flex;
    align-items: center;

    border-bottom: 2px solid #EAEAEA;
}

.most-read-article:last-of-type {
    border-bottom: none;
}

.most-read-article > h3 {
    font-size: 1.8em;
    color: #4267B2;
}

.most-read-article > p {
    margin-left: 20px;
    padding: 0;
    font-size: 1.1em;
}

.nav-item-end {
    margin-left: auto;
}

.nav-item-top {
    border-bottom: 3px transparent solid;
    padding: 10px 10px 20px;
    list-style: none;
}

.nav-item-top:hover {
    border-bottom: 3px solid darkblue;
}

.nav-item-top-more {
    border-bottom: 3px #F1F1F1 solid;
    padding: 6px 0;
}

.nav-item-top-more:first-of-type {
    padding-top: 12px;
}

.nav-item-top-more:last-of-type {
    border-bottom: 3px transparent solid;
    padding-bottom: 12px;
}

.nav-item-top-more:hover {
    border-bottom: 3px solid darkblue;
}

.social-link {
    border-right: 1px solid black;
    padding: 0 20px;
}

.social-link:last-of-type {
    border-right: none;
}

.stories-elections-articles-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

.stories-more-article {
    height: 350px;
}

.stories-more-article-image {
    width: 100%;
    height: 45%;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-position: center;
}

.stories-more-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.stories-more-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.stories-more-article-description {
    font-size: 1.2em;
}

.stories-more-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.stories-more-article-tags > * {
    margin: 0 5px;
}

.weather-temperature {
    margin: 0;
}

#analysis-articles {
    display: flex;
    justify-content: space-between;
}

#around-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

#blank-space-top {
    height: 100px;
    background-color: #FAFAFA;
}

#button-live {
    align-self: flex-end;

    border-radius: 8px;
    padding: 10px 15px;
    background: linear-gradient(#FF0000, #FF0000, #9a0521, #9a0521);
    color: white;
}

#copyright {
    display: flex;
}

#copyright p {
    margin-right: 25px;
}

#dropdown-icon {
    color: #3B3B3B;
    font-size: 14px;
}

#feature-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

#header-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 65%;
}

#header-top-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#internal-links {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

#internal-links > section {
    margin-right: 150px;
}

#legal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#legal p {
    margin-right: 45px;
}

#most-read-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 15px 25px;
}

#most-read-articles > div {
    flex-basis: 50%;
}

#most-read-articles > div p {
    padding-right: 25px;
}

#nav-top {
    margin: 0 auto;
    width: 65%;

    font-size: 1.2em;
}

#nav-top-main {
    display: flex;
    flex-direction: row;

    margin-bottom: 0;
    background: #FBFBFF;
}

#nav-top-more {
    position: relative;
    margin-top: 0;
    margin-left: 80%;
    border: 1px solid #E1E1E1;
    padding: 0 20px;
    list-style-type: none;
}

#social-links {
    display: flex;
    flex-flow: row wrap;

    border-bottom: 1px solid black;
    padding: 45px 0;
    font-size: 1.1em;
}

#social-link-facebook {
    transition: color 0.5s;
}

#social-link-facebook:hover {
    transition: color 0.5s;

    color: #4267B2;
}

#social-link-instagram {
    transition: color 0.5s;
}

#social-link-instagram:hover {
    transition: background 0.5s;

    background: -webkit-linear-gradient(215deg,
        #405DE6,
        #5B51D8,
        #833AB4,
        #C13584,
        #E1306C,
        #FD1D1D,
        #F56040,
        #F77737,
        #FCAF45,
        #FFDC80
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#social-link-linkedin {
    transition: color 0.5s;
}

#social-link-linkedin:hover {
    transition: color 0.5s;

    color: #0077B5;
}

#social-link-tiktok {
    transition: color 0.5s;
}

#social-link-tiktok:hover {
    transition: color 0.5s;

    color: #FE2C55;
}

#social-link-whatsapp {
    transition: color 0.5s;
}

#social-link-whatsapp:hover {
    transition: color 0.5s;

    color: #25D366;
}

#social-link-x {
    transition: color 0.5s;
}

#social-link-x:hover {
    transition: color 0.5s;

    color: silver;
}

#social-link-youtube {
    transition: color 0.5s;
}

#social-link-youtube:hover {
    transition: color 0.5s;

    color: #FF0000;
}

#stories-more-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 15px;

    padding: 20px 0;
}

#stories-top {
    display: grid;
    grid-template-areas:
        "highlight highlight highlight other"
        "other other other other"
        "other other other other";
    /* Defines the height of each row */
    grid-template-rows: 300px 300px 300px;
    /* Defines the width of each column */
    grid-template-columns: 400px 400px 400px 400px;

    width: 100%;
    height: 300px;
}

#stories-top-highlight-article {
    grid-area: highlight;

    background-color: blue;
}

#title {
    align-self: flex-end;
}

#weather {
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#weather > * {
    margin: 0 4px;
}

#weather-temperatures {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}
