body, html {
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif !important;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

body > header {
    width: 100%;
}

body > main {
    margin: 0 auto;
    width: 65%;
}

footer > section {
    width: 65%;
    margin: 0 auto;
}

.analysis-card {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    padding: 15px 25px;
    height: 320px;
}

.analysis-card:first-of-type {
    margin-left: 0;
}

.analysis-card:last-of-type {
    margin-right: 0;
}


.analysis-card-author {
    margin: 20px 0 0;
    text-align: center;
    font-size: 0.9em;
    color: #4267B2;
}
.analysis-card-author:hover {
    text-decoration: underline;
}

.analysis-card-description {
    text-align: center;
    font-size: 1.2em;
}

.analysis-card-profile {
    display: block;
    margin: 8px auto;
    border-radius: 50%;
}

.around-article {
    flex-basis: 30%;

    margin: auto 15px;
    height: 340px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-size 0.25s;
}

.around-article:hover {
    background-size: 110%;

    transition: background-size 0.25s;
}

.around-article:first-of-type {
    margin-left: 0;
}

.around-article:last-of-type {
    margin-right: 0;
}

.around-article > h3 {
    position: relative;
    top: 192px;

    box-sizing: border-box;
    height: 130px;
    padding: 20px;
    background-color: white;
}

.article-card {
    border: 4px solid #EAEAEA;
    box-shadow: 0 0 10px #EAEAEA;
    background-color: white;
}

.article-card-image {
    
}

.article-tag {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    margin: 0;
    padding: 4px 6px;
    color: white;
}

.article-tag-black {
    background-color: black;
}

.article-tag-blue {
    background-color: blue;
}

.article-tag-cyan {
    background-color: cyan;
}

.article-tag-green {
    background-color: green;
}

.article-tag-magenta {
    background-color: magenta;
}

.article-tag-red {
    background-color: red;
}

.article-tag-yellow {
    background-color: yellow;
    color: black !important;
}

.article-video {
    cursor: pointer;

    padding-top: 15px;
}

.article-video-clip {
    width: 240px;
    height: 135px;
}

.article-video-description {

}

.button-load-more {
    display: block;
    margin: 0 auto;
    border: 1px solid #4267B2;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1.1em;
    color: #4267B2;
}

.button-load-more:hover {
    background-color: #4267B2;
    color: white;
}

.climate-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.climate-article:first-of-type {
    margin-left: 0;
}

.climate-article:hover > .climate-article-image {
    background-size: 110%;

    transition: background-size 0.25s;
}

.climate-article:last-of-type {
    margin-right: 0;
}

.climate-article-image {
    width: 100%;
    height: 45%;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: 100%;
    background-position: center;

    transition: background-size 0.25s;
}

.climate-article-category {
    color: darkblue;
}

.climate-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.climate-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.climate-article-description {
    font-size: 1.2em;
}

.climate-articles-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

.climate-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.climate-article-tags > * {
    margin: 0 0 0 5px;
}

.election-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.election-article:first-of-type {
    margin-left: 0;
}

.election-article:last-of-type {
    margin-right: 0;
}

.election-article-category {
    color: darkblue;
    font-size: 0.9em;
}

.election-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.election-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.election-article-description {
    font-size: 1.2em;
}

.election-article-image {
    width: 100%;
    height: 45%;
    background-size: 100%;
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;

    transition: background-size 0.25s;
}

.election-article:hover > .election-article-image {
    background-size: 110%;

    transition: background-size 0.25s;
}

.election-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}

.election-article-tags > * {
    margin: 0 5px;
}

.fake-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fake-link::selection {
    background-color: transparent;
}

.fake-link-main {
    color: black !important;
    font-weight: bold;
}

.feature-article {
    flex-basis: 30%;

    margin: auto 15px;
    height: 340px;
    /*background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");*/
    background-size: 100%;
    background-position: center;

    transition: background-size 0.25s;
}

.feature-article:hover {
    background-size: 110%;

    transition: background-size 0.25s;
}

.feature-article:first-of-type {
    margin-left: 0;
}

.feature-article:last-of-type {
    margin-right: 0;
}

.feature-article > p {
    position: relative;
    top: 191px;

    box-sizing: border-box;
    height: 130px;
    padding: 30px;
    background-color: white;
    text-align: center;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.internal-link-list-item {
    margin: 20px 0;
    font-size: 1.1em;
}

.internal-link-list-item:hover {
    text-decoration: underline;
}

.internal-link-list {
    padding: 0;
    list-style-type: none;
}

.legal-item:hover {
    text-decoration: underline;
}

.main-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-section-heading {
    text-transform: uppercase;
}

.most-read-article {
    display: flex;
    align-items: center;

    border-bottom: 2px solid #EAEAEA;
}

.most-read-article:last-of-type {
    border-bottom: none;
}

.most-read-article > h3 {
    font-size: 1.8em;
    color: #4267B2;
}

.most-read-article > p {
    margin-left: 20px;
    padding: 0;
    font-size: 1.1em;
}

.nav-item-end {
    margin-left: auto;
}

.nav-item-top {
    border-bottom: 3px transparent solid;
    padding: 10px 10px 20px;
    list-style: none;
}

.nav-item-top:hover {
    border-bottom: 3px solid darkblue;
}

.nav-item-top-more {
    border-bottom: 3px #F1F1F1 solid;
    padding: 6px 0;
}

.nav-item-top-more:first-of-type {
    padding-top: 12px;
}

.nav-item-top-more:last-of-type {
    border-bottom: 3px transparent solid;
    padding-bottom: 12px;
}

.nav-item-top-more:hover {
    border-bottom: 3px solid darkblue;
}

.podcasts-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.podcasts-article:first-of-type {
    margin-left: 0;
}

.podcasts-article:hover > .podcasts-article-image {
    background-size: 110%;

    transition: background-size 0.25s;
}

.podcasts-article:last-of-type {
    margin-right: 0;
}

.podcasts-article-category {
    color: darkblue;
}

.podcasts-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.podcasts-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.podcasts-article-description {
    font-size: 1.2em;
}

.podcasts-article-image {
    width: 100%;
    height: 45%;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: 100%;
    background-position: center;

    transition: background-size 0.25s;
}

.podcasts-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.podcasts-article-tags > * {
    margin: 0 0 0 5px;
}

.social-link {
    border-right: 1px solid black;
    padding: 0 20px;
}

.social-link:last-of-type {
    border-right: none;
}

.sports-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.sports-article:first-of-type {
    margin-left: 0;
}

.sports-article:hover > .sports-article-image {
    background-size: 110%;

    transition: background-size 0.25s;
}

.sports-article:last-of-type {
    margin-right: 0;
}

.sports-article-category {
    color: darkblue;
}

.sports-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.sports-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.sports-article-description {
    font-size: 1.2em;
}

.sports-article-image {
    width: 100%;
    height: 45%;
    /*background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");*/
    background-size: 100%;
    background-position: center;

    transition: background-size 0.25s;
}

.sports-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.sports-article-tags > * {
    margin: 0 0 0 5px;
}

.stories-elections-articles-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

.stories-more-article {
    height: 350px;
}

.stories-more-article:hover > .stories-more-article-image {
    background-size: 110%;

    transition: background-size 0.25s;
}

.stories-more-article-image {
    width: 100%;
    height: 45%;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: 100%;
    background-position: center;

    transition: background-size 0.25s;
}

.stories-more-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.stories-more-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.stories-more-article-description {
    font-size: 1.2em;
}

.stories-more-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.stories-more-article-tags > * {
    margin: 0 0 0 5px;
}

.stories-top-article {
    /*box-sizing: border-box;*/

    /*!*background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");*!*/
    /*background-size: 100%;*/
    /*background-position: center;*/
    height: 340px;

    transition: background-size 0.25s;
}

.stories-top-article:hover {
    background-size: 110%;

    transition: background-size 0.25s;
}


.stories-top-article-category {
    color: darkblue;
    font-size: 0.9em;
}

.stories-top-article-content {
    position: relative;
    top: 142px;

    box-sizing: border-box;
    padding: 20px;
    height: 190px;
    /*width: 100%;*/
    background-color: white;
}

.stories-top-article-description {
    font-size: 1.2em;
}

.stories-top-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}

.stories-top-article-tags > * {
    margin: 0 5px;
}

.stories-top-article-other {
    height: 340px;
    flex-basis: 25%;
}

.stories-top-article-other-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 10px;

    margin: 30px 0;
}

.stories-top-other-article {
    flex-basis: 100%;

    box-sizing: border-box;
    margin: auto 15px;
    height: 350px;
}

.stories-top-other-article:first-of-type {
    margin-left: 0;
}

.stories-top-other-article:last-of-type {
    margin-right: 0;
}

.stories-top-other-article-image {
    width: 100%;
    height: 45%;
    background-position: center;
    background-size: 100%;
    background-clip: border-box;
    background-repeat: no-repeat;

    transition: background-size 0.25s;
}

.stories-top-other-article:hover > .stories-top-other-article-image {
    background-size: 110%;

    transition: background-size 0.25s;
}

.stories-top-other-article-category {
    color: darkblue;
    font-size: 0.9em;
}

.stories-top-other-article-content {
    margin: 0 10px;
    padding: 25px 10px;
}

.stories-top-other-article-content > * {
    margin-right: 5px;
    margin-left: 5px;
}

.stories-top-other-article-description {
    font-size: 1.2em;
}

.stories-top-other-article-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}

.stories-top-other-article-tags > * {
    margin: 0 5px;
}

.videos-list-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    text-align: center;
}

.videos-tab-link {
    list-style-type: none;

    margin: 0 20px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 1.2em;
}

.videos-tab-link:first-of-type {
    margin-left: 0;
}

.videos-tab-link:last-of-type {
    margin-right: 0;
}

.videos-tab-selected {
    border-bottom: 2px solid white;
    font-weight: bold;
}

/* Selected tab: underlined, bold */

.weather-temperature {
    margin: 0;
}

#analysis-articles {
    display: flex;
    justify-content: space-between;
}

#around-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

#blank-space-top {
    height: 100px;
    background-color: #FAFAFA;
}

#button-live {
    align-self: flex-end;

    border-radius: 8px;
    padding: 10px 15px;
    background: linear-gradient(#FF0000, #FF0000, #9a0521, #9a0521);
    color: white;
}

#copyright {
    display: flex;
}

#copyright p {
    margin-right: 25px;
}

#dropdown-icon {
    color: #3B3B3B;
    font-size: 14px;
}

#feature-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

#header-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 65%;
}

#header-top-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#internal-links {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

#internal-links > section {
    margin-right: 150px;
}

#legal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#legal p {
    margin-right: 45px;
}

#most-read-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 15px 25px;
}

#most-read-articles > div {
    flex-basis: 50%;
}

#most-read-articles > div p {
    padding-right: 25px;
}

#nav-top {
    margin: 0 auto;
    width: 65%;

    font-size: 1.2em;
}

#nav-top-main {
    display: flex;
    flex-direction: row;

    margin-bottom: 0;
    background: #FBFBFF;
}

#nav-top-more {
    position: relative;
    margin-top: 0;
    margin-left: 80%;
    border: 1px solid #E1E1E1;
    padding: 0 20px;
    list-style-type: none;
}

#podcasts-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

#social-links {
    display: flex;
    flex-flow: row wrap;

    border-bottom: 1px solid black;
    padding: 45px 0;
    font-size: 1.1em;
}

#social-link-facebook {
    transition: color 0.5s;
}

#social-link-facebook:hover {
    transition: color 0.5s;

    color: #4267B2;
}

#social-link-instagram {
    transition: color 0.5s;
}

#social-link-instagram:hover {
    transition: background 0.5s;

    background: -webkit-linear-gradient(215deg,
        #405DE6,
        #5B51D8,
        #833AB4,
        #C13584,
        #E1306C,
        #FD1D1D,
        #F56040,
        #F77737,
        #FCAF45,
        #FFDC80
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#social-link-linkedin {
    transition: color 0.5s;
}

#social-link-linkedin:hover {
    transition: color 0.5s;

    color: #0077B5;
}

#social-link-tiktok {
    transition: color 0.5s;
}

#social-link-tiktok:hover {
    transition: color 0.5s;

    color: #FE2C55;
}

#social-link-whatsapp {
    transition: color 0.5s;
}

#social-link-whatsapp:hover {
    transition: color 0.5s;

    color: #25D366;
}

#social-link-x {
    transition: color 0.5s;
}

#social-link-x:hover {
    transition: color 0.5s;

    color: silver;
}

#social-link-youtube {
    transition: color 0.5s;
}

#social-link-youtube:hover {
    transition: color 0.5s;

    color: #FF0000;
}

#sports-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 45px 0;
    padding: 0;
}

#stories-top-primary-article-description {
    font-size: 1.5em;
}

#stories-top-primary-article-image {
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: 100%;
    background-position: center;
    background-clip: border-box;

    transition: background-size 0.25s;
}

#stories-top-primary:hover > #stories-top-primary-article-image {
    transition: background-size 0.25s;
    background-size: 110%;
}

#stories-more-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 15px;

    padding: 20px 0;
}

#stories-top-highlight-article {
    grid-area: highlight;

    background-color: blue;
}

#stories-top-main {
    display: grid;
    /*grid-template-areas:*/
    /*    "primary primary primary secondary";*/
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    /*padding: 20px 0;*/
}

#stories-top-primary {
    display: grid;
    grid-template-columns: 2fr 1fr;

    height: 340px;
}

#stories-top-primary-article-content {
    /*margin-top: 25px;*/
    padding: 30px 25px;
    background-image: linear-gradient(180deg, yellow, #ea8424);
}

#title {
    align-self: flex-end;
}

#videos {
    padding: 20px 0 20px 25px;
    background-color: #0077B5;
    color: white;
}

#videos-list {
    padding-right: 25px;
}

#videos-tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    border-bottom: 2px solid #848484;
    padding: 0;
}

#weather {
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#weather > * {
    margin: 0 4px;
}
